- name: Create app directory
  file:
    path: "{{ docker_app_dir }}"
    state: directory

- name: Copy app files
  copy:
    src: ../../docker/
    dest: "{{ docker_app_dir }}/"

- name: Build Docker image
  community.docker.docker_image:
    name: "{{ local_image_name }}"
    tag: "{{ local_image_tag }}"
    source: build
    build:
      path: "{{ docker_app_dir }}"

