apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: 725889403091.dkr.ecr.ap-south-1.amazonaws.com/kishor2107-ecrrepo-mumbai:v1
        ports:
        - containerPort: 80

